.scene {
  width: 200px;
  height: 200px;
  perspective: 600px;
}

.cube {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.cube-face {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  background-color: rgba(0,0,0,0);
  position: absolute;
}
.cube-left {
  transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg) translateZ(100px);
}
.cube-right {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg) translateZ(100px);
}
.cube-top {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateZ(100px);
}
.cube-bottom {
  transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg) translateZ(100px);
}
.cube-front {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(100px);
}
.cube-behind {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateZ(100px);
}
