@keyframes rotateAroundYAxis {
  0% {transform: rotateY(0deg)}
  25% {transform: rotateY(90deg)}
  50% {transform: rotateY(180deg)}
  75% {transform: rotateY(270deg)}
  100% {transform: rotateY(360deg)}
}

.scene {
  width: 200px;
  height: 200px;
  perspective: 600px;
  margin: 80px;
}


.cube {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  
  animation-name: rotateAroundYAxis;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cube-face {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  background-color: rgba(0,0,0,0);
  position: absolute;
}
.cube-left {
  transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg) translateZ(100px);
}
.cube-right {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg) translateZ(100px);
}
.cube-top {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateZ(100px);
}
.cube-bottom {
  transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg) translateZ(100px);
}
.cube-front {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(100px);
}
.cube-behind {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateZ(100px);
}


.scene-glitch {
  animation: glitch 4s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

#glitch1,
#glitch2 {
  position: absolute;
}

#glitch1{
  animation: glitchTop 1s linear infinite, rotateAroundYAxis 10s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

#glitch2{
  animation: glitchBotom 1.5s linear infinite, rotateAroundYAxis 10s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}
